
.todo-block {
    background-color: #ffbe41;
}

.todo-id {
    font-style: italic;
    font-size: 22px;
    margin-left: 20px;
}

.todo-completed {
    width: 100px;
    height: 40px;
    color: green;
    border: 2px solid #000000;
}